.main_container{
    text-align: center;
 }
 
 .main_buttons_container{
     
     display: flex;
     height: 80px; 
     margin-top: 10px;
     margin-bottom: 10px;
     column-gap: 20px;
     align-items: center;
     align-content: space-between;
     flex-wrap: wrap;
     justify-content:space-evenly
 }



 .Products{
     height: 70px;
     width: 200px;
     color: white;
     background-color: brown;
     padding: 10px;
     margin: 10px;
 }

 .SubProducts{
     height: 70px;
     width: 200px;
     color: white;
     background-color: brown;
     padding: 10px;
     margin: 10px;
 }

 .category{
     height: 70px;
     width: 200px;
     color: white;
     background-color: brown;
     padding: 10px;
     margin: 10px;
 }